---
layout: page
permalink: /
---



<div class="home">

   <em> <p>Dr. Om Johari passed away on March 18, 2015, at his home in Elk Grove Village, Illinois.</p>

    <p>He touched the lives of many people, near and far, young and old, friends and strangers.</p>

    <p>This page is devoted to his memory.  Please send your memories to <a  href="mailto:remember.omjohari@gmail.com">remember.omjohari@gmail.com</a>./p>

  </em>

  <p>For each post, click on the title to see the full post.</p>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.type == 'remembrance' %}
        <li>
          <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

	  <span class="post-content">{{ post.excerpt }}</span>
	
	</li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
