---
layout: page
title: Remembrances
permalink: /remembrances/
---

<div class="home">

  <p><i>For each post, click on the title to see the full post.</i></p>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.type == 'remembrance' %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

	  <span class="post-content">{{ post.excerpt }}</span>
	
	</li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
